* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
#mytext {
  text-align: center;
}
.box {
  text-align: center;
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  height: 200px;
  width: 300px;
  padding: 30px 10px 10px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 9px black;
  gap: 10px;
}
input[type="text"] {
  width: 100%;
}

button {
  padding: 5px;
  width: 30%;
  color: black;
  outline: none;
  border-style: none;
  border-radius: 9px;
  margin-top: 20px;
}
